body {
text-align: center;
}

.myDiv {
    text-align: left;
    border: 2px solid black;
    background-color: aquamarine;    
}
  
.myDiv2 {
    background-color: tomato;    
}
.myDiv2a {
    text-align: left;
    border: 2px solid black;
}

#tag1 {
  background-color:aqua;
}